*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header {
    background-color: rgba(245, 245, 245, 0.473);
    color: snow;
    display: block;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 60px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    border-bottom: white;
} */

header{
    border-bottom: 4px solid #fff;
    width: 100%;
    height: 400px;
    background-image: url("img/fondo3.JPG");
    background-position: center;
    background-color: rgb(27, 27, 27);
    color: snow;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

body {
    /* background-image: url("img/fondo3.JPG"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline;
}

section{
    background-color:#fff;
}

article {
    height: 400px;
    padding: 60px;
    text-align: left;
}

.border{
    border-top: 1px solid rgb(57, 92, 245);
}


h1 {
    padding-top: 8%;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 40px;

}

h2 {
    color: #000;
    font-family: Helvetica;
    font-size: 20px;
}

h4 {
    font-size: 35px;
}

button {
    border: 1px solid rgb(57, 92, 245);
    border-radius: 5px;
    color: rgb(57, 92, 245);
    background: transparent;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-style: inherit;
    padding: 1%;
}

button:hover {
    border: 2px solid rgb(57, 92, 245);
    background-color:rgb(57, 92, 245);
    color: #fff;
}

#menu{
    text-align: center;
}

nav{
    background-color:rgb(57, 92, 245);
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu{
    float: left;
}

.menu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    background-color: #111;
}

/* p {
    color: lightsteelblue;
    font-family: Helvetica;
    padding: 10px;

    
} */

.shape{
    height: 50%;
    width: 78%;
    border: 4px solid #fff;
    padding: 2%;
    margin-left: 10%;
    margin-top: 6%;
}